{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Blog</h1>
        <p class="lead">Welcome on my blog</p>
    </div>

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <article>
        {% for post in posts %}
            <article>
                <h2><a href="/">{{ post.name }}</a></h2>
                <p>
                    {{ post.content }}
                </p>
            </article>
        {% endfor %}
    </article>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}